<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1><%= @cocktail.name.capitalize %></h1>
  </div>
</div>


<div class="container">
  <div class='row'>
    <div class="col-8">
    <!--     <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/338713/pexels-photo-338713.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);"> -->
           <% @cocktail.doses.each do |d| %>
           <ul>
            <li>
             <%= d.description %> <%= d.ingredient.name %>
             <%= link_to "Delete", dose_path(d), class: "btn btn-ghost",
              method: :delete,
              data: { confirm: "Are you sure?" } %>
            <%= link_to "Edit", edit_cocktail_dose_path(d.cocktail, d) , class: "btn btn-ghost" %>
            </li>
           </ul>
           <% end %>
          <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: "btn btn-ghost" %>
        <!-- </div> -->
    </div>
  </div>
</div>


<div>
  <%=  link_to "BACK", cocktails_path, class: "btn btn-ghost"%>
</div>







